<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @modelo1.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @modelo1.apellido %>
</p>


<%= link_to 'Edit', edit_modelo1_path(@modelo1) %> |
<%= link_to 'Back', modelo1s_path %>
