<h1>Listing alercos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alercos.each do |alerco| %>
  <tr>
    <td><%= alerco.nombre %></td>
    <td><%= alerco.apellido %></td>
    <td><%= link_to 'Show', alerco %></td>
    <td><%= link_to 'Edit', edit_alerco_path(alerco) %></td>
    <td><%= link_to 'Destroy', alerco, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alerco', new_alerco_path %>
