<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @alerco.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @alerco.apellido %>
</p>


<%= link_to 'Edit', edit_alerco_path(@alerco) %> |
<%= link_to 'Back', alercos_path %>
