<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @libro.titulo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @libro.descripcion %>
</p>

<p>
  <b>Categoria:</b>
  <%= @libro.categoria %>
</p>


<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
